/* #hidden-par{
    display: none;
    visibility: hidden;
} */

.mouse-div{
    height: 300px;
    width: 300px;
    
    display: inline-block;
}

.tomato{
    background-color: tomato;
}

.green{
    background-color: green;
}